<div class="wrapper">
  <div class="space"></div>
  <section class="nav-bar">
    <svg-icon
      [applyClass]="true"
      class="logo"
      src="/assets/img/codelandia/chihiro/logo.svg"
    ></svg-icon>
    <ul class="nav-items">
      <li>
        <svg-icon
          [applyClass]="true"
          class="social-icon"
          src="/assets/img/codelandia/chihiro/icon/facebook.svg"
        ></svg-icon>
      </li>
      <li>
        <svg-icon
          [applyClass]="true"
          class="social-icon"
          src="/assets/img/codelandia/chihiro/icon/instagram.svg"
        ></svg-icon>
      </li>
      <li>
        <svg-icon
          [applyClass]="true"
          class="social-icon"
          src="/assets/img/codelandia/chihiro/icon/twitter.svg"
        ></svg-icon>
      </li>
      <li>
        <svg-icon
          [applyClass]="true"
          class="social-icon"
          src="/assets/img/codelandia/chihiro/icon/youtube.svg"
        ></svg-icon>
      </li>
    </ul>
  </section>
  <section class="content">
    <div class="description">
      <p class="author">HAYAO MIYAZAKI</p>
      <p class="title">A VIAGEM<br />DE CHIHIRO</p>
      <p class="text">
        Chihiro chega a um mundo mágico dominado por uma bruxa. Aqueles que a
        desobedecem são transformados em animais.
      </p>
      <div class="actions">
        <button class="now customized-btn">
          <svg-icon
            [applyClass]="true"
            class="play"
            src="/assets/img/codelandia/chihiro/icon/play.svg"
          ></svg-icon>
          Assistir Agora
        </button>
        <button class="trailer customized-btn">Assista o trailer</button>
      </div>
    </div>
    <div class="illustration">
      <img src="/assets/img/codelandia/chihiro/no-face.png" alt="no-face" />
    </div>
  </section>
</div>
